.feed-list-item {
    cursor: pointer;
    min-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.action-btn {
    height: 21px;
    background: transparent;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #337ab7;
    border-radius: 3px;
}

.action-btn svg {
    vertical-align: initial;
    margin: 0;
}

.new-label {
    position: absolute;
    top: 3px;
    left: 3px;
}